@font-face {
  font-family: "superstar";
  src: local("superstar"),url("./fonts/superstar.ttf") format("truetype");
  }
  

body,
html,
h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  overflow-y: auto;
  height: 100%;
}

.makeStyles-paper-11,
.makeStyles-paper-11 h2,
.MuiPaper-root h2,
.MuiTypography-body1{
color:#fff!important
}

body {
  font-size: 1em;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position:50%!important;
  background-attachment:fixed!important;
  background-size:cover!important
}


h1,
h2{
  -webkit-align-items:center;
  align-items:center;
  color: #fff !important
  
}


h3,
h4,
h5,
h6 {
    font-family:"Amarante", cursive!important
    
}

.MuiCardContent-root:last-child {
  padding-bottom:24px
}

.MuiGrid-spacing-xs-3 > .MuiGrid-item{
  padding: 12px
}


.MuiCardContent-root{
  padding:16px
}

.MuiToolbar-regular {
  color: #000;
}

.MuiButton-containedPrimary{
  color:#fff!important
}
.MuiButton-containedPrimary:hover,
.MuiListItem-button:hover,
.MuiButtonBase-root:hover {
  color: #000 !important;
}

.MuiGrid-item{
  margin: 0;
  box-sizing: border-box;
}

code {
  font-family:source-code-pro,Menlo,Monaco,Consolas,"Courier New",monospace
}

.wallet-button {
  color:#fff!important;
  font-family:"Poppins",sans-serif!important;
  font-size:1.1rem!important;
  text-align:left!important;
  -webkit-justify-content:flex-start!important;
  justify-content:flex-start!important;
  text-transform:none!important
}
.wallet-button:hover {
  background-color:#000!important;
  color:#fff!important
}

.navLink {
  color: #ffffff !important;
  font-weight: bold;

}

.navLink:hover {
  color: #1b75ea !important;
}

.shinyButton {
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #1B3DEA !important;
  border-radius: 15px;
  font-size: 1rem !important;
  padding-left: 5px;
  color: #fff !important;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
}

.shinyButtonDisabled {
  border-radius: 15px;
  color: grey !important;
  box-shadow: 0px 0px 5px 0px grey;
}

.shinyButton:hover {
  background-color: #1ba8ea !important;
  color: #fff !important;
}

/*
#1B3DEA light
#72046D dark
#322f32 black/grey
#FFD2D1 background highlight
#D19AFF background
*/

.shinyButtonSecondary {
  padding-top: 5px;
  padding-bottom: 5px;

  border-radius: 15px;
  font-size: 1rem !important;
  padding-left: 5px;
  background-color: #1B3DEA !important;
  color: #fff !important;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
}
.account {
  display: flex;
  align-items: center;
}
.account > img,
.account > div {
  margin-right: 8px;
}


.shinyButtonDisabledSecondary {
  border-radius: 15px;

  color: grey !important;
  box-shadow: 0px 0px 5px 0px grey;
}

.shinyButtonSecondary:hover {
  background-color: #1ba8ea !important;
  color: #fff !important;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
}

.navTokenPrice {
  padding-top: 5px;
  padding-right: 15px;
  color: #fff;
}

.navTokenIcon {
  height: 30px !important;
  width: 30px !important;
  padding-right: 12px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  overflow: hidden;
}

.bomb {
  background-image: url('/cream.png');
  top:-20px;
}

.bshare {
  background-image: url('/cshare.png');
}

.btc {
  background-image: url('/bomb3.png');
}
.MuiPaper-root{
  background-color: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(10px)!important;
  -webkit-box-shadow: 10px 22px 33px 0px rgba(0,0,0,0.58)!important;
  -moz-box-shadow: 10px 22px 33px 0px rgba(0,0,0,0.58)!important;
  box-shadow: 10px 22px 33px 0px rgba(0,0,0,0.58)!important;
  overflow:hidden!important
}

.MuiAlert-filledWarning{
  color: #fff;
  font-weight: 500;
  background-color: #2196f3
}

.MuiAlert-root{
  display: flex;
  padding: 6px 16px;
  font-size: 0.875rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  border-radius: 4px;
  background-color: transparent;
}

.MuiPaper-elevation0{
  box-shadow: none;
}
.MuiBox-root-18{
  line-height:75px!important
}

.MuiBox-root-24{
  line-height:75px!important
}

.MuiBox-root-30{
  line-height:75px!important
}

.MuiBox-root-46{
  line-height:75px!important
}

.MuiBox-root-38{
  line-height:75px!important
}

.MuiBox-root-54{
  line-height:75px!important
}

.MuiPaper-elevation1{
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 
  0px 1px 1px 0px rgb(0 0 0 / 14%), 
  0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.MuiPaper-rounded{
  border-radius:4px
}

.MuiAppBar-positionSticky{
  position: relative !important;
}
.ijwpow{
  background-color: rgba(255,255,255,0.1) !important;
}
.makeStyles-appBar-2{
  background-color: rgba(255, 255, 255, 0) !important;
}
.walletconnecttitle{
  color: #322f32;
}
.walletconnecttitle:hover{
  color: #1B3DEA;
}

.dtpLDu{
  text-align:center !important
}